body{
    padding: 0;
    margin: 0;
}

.floatright{
    float: right;
}

.promobox{
    margin: 16px;
    padding: 16px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: aliceblue;
    height: 250px;
}

.promobox img{
    float: right;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    margin: 16px;
}

.promobox button{
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
}

.promobox button:hover{
    background-color: navy;
    cursor: pointer;
}

.azbutton{
    padding: 16px;
    margin: 16px;
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 5px;
    border-style: solid;
    border-color: darkblue;
}

.azbutton:hover{
    cursor: pointer;
    color: #408fef;
    border-radius: 10px;
}

.paddingstuff{
    padding: 16px;
    margin: 16px;
}

.categorybuttons{
    padding: 16px;
    margin: 16px 8px;
    font-size: 17px;
    background-color: aliceblue;
    border-radius: 5px;
    border-style: solid;
    border-color: darkblue;
}

.categorybuttons:hover{
    cursor: pointer;
    color: #408fef;
    border-radius: 10px;
}