body {
    margin: 0;
    padding: 0;
}

.centered{
    position: fixed;
    left: 50%;
    margin-top: 300px;
    transform: translate(-50%, -50%);
}

.inputfield{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 17px;
}

.inputArticleTextfield{
    width: 100%;
    height: 300%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 17px;
    size: initial;
}

.confirmbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
}

.centered button:hover{
    background-color: #1ac018;
}

.underInputFormText{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

.underInputFormTextFeedback{
    color: #c03318;
}

.floatright{
    float: right;
}

