body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.article{
    margin: 16px;
}

.article img{
    float: right;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: 16px;
}

.article ul{
    list-style-type: none;
    display: inline-block;
    /*yes this is necessary*/
    padding: 0px 0px 0px 0px;
}

.replyleftborder{
    border-style: solid none none solid;
    background-color: aliceblue;
    border-color: darkblue;
    border-radius: 20px;
    margin: 0px 16px 16px 16px;
}

.simpleborder{
    background-color: #408fef;
    border-radius: 0px 20px 20px 20px;
    padding: 16px;
    margin: 0px 0px 16px 16px;
}

.articlebox{
    font-size: 17px;
    border-style: groove;
    border-color: darkblue;
    border-radius: 40px;
    padding: 16px;
    margin: 16px 0px;
}

.postinfo{
    float: bottom;
    font-size: 10px;
    margin: 16px;
}

.floatright{
    float: right;
}

.deleteButton{
    background-color: #c03318;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 16px;
    padding: 8px;
}

.deleteButton:hover{
    background-color: darkred;
    color: #fff;
}
