body {
    margin: 0;
    padding: 0;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: #247599;
}

.nav img {
    float: left;
}

.nav a {
    float: left;
    text-decoration: none;
    color: #fff;
    padding: 14px 26px;
    font-size: 17px;
    transition: 0.6s all;
}

.nav a:hover {
    background-color: #133747;
}

.nav .search {
    float: right;
}

.nav input[type=text] {
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}

.nav .search button {
    float: right;
    padding: 8px 16px;
    font-size: 17px;
    margin: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: dodgerblue;
    cursor: pointer;
    transition: 0.6s all;
}

.nav .search button:hover {
    background-color: dodgerblue;
    color: #fff;
}

.flip-animate{
    -webkit-animation:flip 10s cubic-bezier(1,0,0.58,1) 0s infinite normal;
    -moz-animation:flip 10s cubic-bezier(1,0,0.58,1) 0s infinite normal;
    -ms-animation:flip 10s cubic-bezier(1,0,0.58,1) 0s infinite normal;
    animation:flip 10s cubic-bezier(1,0,0.58,1) 0s infinite normal;
}

@-webkit-keyframes flip {
    0%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
    50%{ -webkit-transform: translateY(180); transform: rotateY(180deg); }
    100%{ -webkit-transform: translateY(0); transform: rotateY(0deg); }
}

@keyframes flip {
    0%{ transform: rotateY(0deg); }
    50%{ transform: rotateY(180deg); }
    100%{ transform: rotateY(0deg); }
}

@media only screen and (max-width: 730px) {
    .hideSearchWhenSmall {
        visibility: hidden;
    }
}

@media only screen and (max-width: 470px) {
    .hideNavWhenSmall {
        visibility: hidden;
    }
}