body {
    margin: 0;
    padding: 0;
}

.infobox{
    position: fixed;
    margin: 16px;
    font-size: 25px;
    padding: 16px;
}

.infobox th{
    float: left;
}

.aliceborder{
    border-style: groove;
    background-color: aliceblue;
    border-color: aliceblue;
}

