<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<section th:each="article:${articles}" th:fragment="articlepromo">
    <div class="promobox">
        <img th:src="${article.picturePath}" th:alt="${article.imageAlt}">
    <h3 th:text="${article.title}">Title: **Error No title Found**</h3>
    <h4 th:text="${article.description}">Description: **Error No description Found**</h4>
    <a th:href="@{'/article/' + ${article.postId}}">
        <button>Learn more...</button>
    </a>
    </div>
</section>
</html>