<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">


<header th:fragment="topbar" class="container">
    <div class="nav">
        <a class="flip-animate" href="/technews/home">
            <img src="/images/logotechnews.PNG">
        </a>
        <a class="hideNavWhenSmall" href="/technews/category/General">Categories</a>
        <a class="hideNavWhenSmall" th:if="${loggedIn} == false" href="/user/login">Login</a>
        <a class="hideNavWhenSmall" th:if="${loggedIn} == true" href="/user/profile" th:text="${username}">**DisplayUsernameError**</a>
        <a class="hideNavWhenSmall" th:if="${loggedIn} == true" href="/article/add">Add Article</a>
        <a class="hideNavWhenSmall" th:if="${loggedIn} == true" href="/user/logout">Logout</a>
        <div class="search">
            <form action="/technews/search" method="get">
                <input class="hideSearchWhenSmall" type="text" placeholder="Search....." name="q">
                <button class="hideSearchWhenSmall" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>

</html>