<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addarticle</title>
    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/inputstyle.css"
          type="text/css"/>
</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<div class="centered">
    <form action="/article/add" method="post">
        <div>
            <label for="title">Title:</label>
            <input class="inputfield" type="text" placeholder="title" name="title" id="title" required>

            <label for="description">Description:</label>
            <input class="inputfield" type="text" placeholder="Description" name="description" id="description" required>

            <label for="text">Text:</label>
            <textarea class="inputArticleTextfield" placeholder="Article Text" name="text" id="text" required></textarea>

            <label for="picturepath">Picture Path:</label>
            <input class="inputfield" type="text" placeholder="Leave empty for a standard image..." name="picturepath"
                   id="picturepath">

            <label for="imagealt">Describe Image:</label>
            <input class="inputfield" type="text" placeholder="required for custom image" name="imagealt" id="imagealt">

            <label for="categories">Categories:</label>
            <div id="categories">

                <input type="checkbox" id="general" name="checkgeneral" value="true">
                <label for="general">General</label>

                <input type="checkbox" id="games" name="checkgames" value="true">
                <label for="games">Games</label>

                <input type="checkbox" id="space" name="checkspace" value="true">
                <label for="space">Space</label>

                <input type="checkbox" id="socialmedia" name="checksocialmedia" value="true">
                <label for="socialmedia">Social Media</label>
            </div>
        </div>
        <div th:if="${responseString != null}" th:text="${responseString}"></div>
        <br>
        <button class="confirmbutton" type="submit">Publish Article</button>
    </form>

</div>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>