<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>addarticle</title>
    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/inputstyle.css"
          type="text/css"/>
</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<div class="centered">

    <div>
        <h1>Add reply</h1>
    </div>

    <form action="/article/reply" method="post">
        <div>
            <label for="targetid">Target ID:</label>
            <input class="inputfield" type="number" min="0" th:max="${articleCount}" placeholder="ID of post reply to" name="id" id="targetid">

            <label for="replytext">ReplyText</label>
            <input class="inputfield" type="text" placeholder="Reply text" name="text" id="replytext">

            <button class="confirmbutton" type="submit">Post Reply!</button>
        </div>

    </form>

    <div class="underInputFormTextFeedback" th:if="${responseString != null}" th:text="${responseString}"></div>

</div>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>