<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article Page</title>

    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>

    <link rel="stylesheet"
          href="/solo-article-style.css"
          type="text/css"/>

</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<div th:object="${article}" class="article">
    <div class="articlebox">
        <h1 th:text="'Title: ' + *{title}">Title: **Unknown** </h1>
        <img th:src="${article.picturePath}" th:alt="${article.imageAlt}">
        <h3 th:text="'Description: ' + *{description}">Description: **This Article does not appear to have a
            description**</h3>
        <h3 th:text="'Text: ' + *{postText}">Text: **This Article does not appear to have any text**</h3>
        <h3 th:text="'Author: ' + ${article.postAuthor.username}">Author: **Unknown** </h3>
        <h3 class="postinfo"
            th:text="'Posted at: ' + ${article.publishTimeDate} + ', with ID: ' + *{postId} + ', Category(\'s): ' + *{categories}">
            ID: **Unknown**, Category('s)
            **Unknown**</h3>
    </div>



    <div>
        <ul th:fragment="fragment_node(article)" th:unless="${#lists.isEmpty(article.replies)}" class="replyleftborder">
            <li th:each="reply : ${article.replies}" th:inline="text">
                <div class="simpleborder">
                    <h4 th:text="'ReplyText: ' + ${reply.postText}">ReplyText: **This Reply does not have any
                        Text**</h4>
                    <h6 th:text="'Replied at: ' + ${reply.publishTimeDate} + ', with ID: ' + ${reply.postId} + ', By: ' + ${reply.postAuthor.username}">
                        Replied at: **Unknown time**, With ID: **Unknown**, By: **Unknown**</h6>
                </div>
                <ul th:replace="this :: fragment_node(${reply})"></ul>
            </li>
        </ul>
        <form th:if="${allowDeletion} == true" th:action="'/article/' + ${article.postId} + '/delete'" method="post">
            <a>
                <button class="deleteButton floatright">!!Delete This Article!!</button>
            </a>
        </form>
    </div>


</div>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>