<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/inputstyle.css"
          type="text/css"/>
</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<div class="centered">

    <div>
        <h1>Login</h1>
    </div>

    <form action="/user/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input class="inputfield" type="text" placeholder="username" name="username" id="username" required>

            <label for="password">Password:</label>
            <input class="inputfield" type="password" placeholder="password" name="password" id="password" required>

            <button class="confirmbutton" type="submit">Login</button>
        </div>
    </form>

    <div class="underInputFormTextFeedback" th:if="${responseString != null}" th:text="${responseString}"></div>
    <br>
    <a class="underInputFormText" href="/user/register">No Account? Create one here!</a>

</div>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>