<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/inputstyle.css"
          type="text/css"/>
</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<div class="centered">

    <div>
        <h1>Registration</h1>
    </div>

    <form action="/user/register" method="post">
        <div>
            <label for="username">Username:</label>
            <input class="inputfield" th:if="${previousUsername != null}" th:value="${previousUsername}" type="text"
                   placeholder="username" name="username" id="username" required>
            <input class="inputfield" th:if="${previousUsername == null}" type="text" placeholder="username"
                   name="username" id="username" required>

            <label for="realname">Realname:</label>
            <input class="inputfield" th:if="${previousRealname != null}" th:value="${previousRealname}" type="text"
                   placeholder="name" name="realname" id="realname" required>
            <input class="inputfield" th:if="${previousRealname == null}" type="text" placeholder="name" name="realname"
                   id="realname" required>

            <label for="age">Age:</label>
            <input class="inputfield" th:if="${previousAge != null}" th:value="${previousAge}" pattern="[0-9]{3}"
                   type="number" min="18" max="999" placeholder="age" name="age" id="age" required>
            <input class="inputfield" th:if="${previousAge == null}" pattern="[0-9]{3}" type="number" min="18" max="150"
                   placeholder="age" name="age" id="age" required>

            <label for="password">Password:</label>
            <input class="inputfield" type="password" placeholder="password" name="password" id="password" required>

            <label for="confirmpassword">Confirm Password:</label>
            <input class="inputfield" type="password" placeholder="confirm password" name="confirmpassword"
                   id="confirmpassword" required>
        </div>
        <div class="underInputFormTextFeedback" th:if="${responseString != null}" th:text="${responseString}"></div>
        <br>
        <button class="confirmbutton" type="submit">Register</button>
    </form>
</div>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>