<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>search</title>

    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>

    <link rel="stylesheet"
          href="/article-promo-css.css"
          type="text/css"/>

</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<a th:if="${boolean} == true" th:href="@{'/technews/search?q=' + ${searchword}}">
    <button class="azbutton floatright">Z...A</button>
</a>
<a th:if="${boolean} == false" th:href="@{'/technews/search?q=' + ${searchword}}">
    <button class="azbutton floatright">A...Z</button>
</a>

<h1 th:text="'you searched for searchword: ' + ${searchword}" class="paddingstuff">There's no searchword</h1>
<h2 th:if="${amount} == 0" class="paddingstuff">There are no results</h2>
<h2 th:if="${amount} == 1" th:text="'there are: ' + ${amount} + ' result'" class="paddingstuff"></h2>
<h2 th:if="${amount} > 1" th:text="'there are: ' + ${amount} + ' results'" class="paddingstuff"></h2>
<hr>

<section th:replace="fragments/articlepromo :: articlepromo"></section>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>