<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet"
          href="/style.css"
          type="text/css"/>
    <link rel="stylesheet"
          href="/user-profile-style.css"
          type="text/css"/>
</head>
<body>

<header th:replace="fragments/topbar :: topbar"></header>

<div th:object="${user}" class="infobox aliceborder">
    <h3 th:text="'Page of User with ID:  '+ *{id}">Page of User with ID: **Unkown** </h3>
    <table>
        <tr>
            <th>Username: </th>
            <td th:text="*{username}">**Unknown**</td>
        </tr>
        <tr>
            <th>Age: </th>
            <td th:text="*{age}">**Unknown**</td>
        </tr>
        <tr>
            <th>Activity: </th>
            <td th:text="*{activityCount}">**Unknown**</td>
        </tr>
        <tr>
            <th>Date joined: </th>
            <td th:text="*{joinDate}">**Unknown**</td>
        </tr>
        <tr>
            <th>Favorites: </th>
            <td th:text="*{favorites}">**Unknown**</td>
        </tr>
    </table>
</div>

<footer th:replace="fragments/footer :: mainfooter"></footer>
</body>
</html>